<div class="m-block" ng-controller="TerminalController">
    <form class="custom" name="alarmForm">
        <span ng-init="alarm_stack.id='{{alarm_stack.id |replace("None", 0)}}'"></span>
        <div class="content-row">
            <label for="add-email">E-mail*</label>
            <input id="add-email"
                type="email"
                placeholder="E-mail"
                class="left"
                ng-keypress="($event.keyCode == 13)?addEmailInStack(alarm_stack):''"
                ng-model="alarm_stack.curent_email"
                ng-class="{error: error.curent_email}"
                >
            <a class="f-spot-button"
                ng-click="addEmailInStack(alarm_stack)">
                Добавить
            </a>

            {% if alarm_stack.emails %}
            <span ng-init="initEmails('{{alarm_stack.emails}}')"></span>
            {% endif %}
            <div class="f-select-email">
                <span class="f-email-case g-radius-main"
                    ng-repeat="email in alarm_stack.emails">{[{email}]}
                    <i class="g-round" ng-click="removeEmailFromStack($index, $event)"></i>
                </span>
            </div>
        </div>
        <div class="content-row g-clearfix">
            <label for="stop-time">Время простоя (чч:мм)*</label>
            <input id="stop-time"
                class="f-input-small"
                type="text"
                minlength="5"
                maxlength="5"
                ng-model="alarm_stack.interval"
                ng-init="alarm_stack.interval='{{alarm_stack.interval}}'"
                ng-class="{error: error.interval }"
                required>
        </div>
        <div class="content-row g-clearfix">
            <a ng-click="saveAlarmStack(alarm_stack, alarmForm.$valid)"
                class="f-spot-button">
                <span ng-hide="alarm_stack.id">Добавить</span>
                <span ng-show="alarm_stack.id">Сохранить</span>
            </a>
            <a id="removeAlarm"
                ng-click="removeAlarmStack(alarm_stack)"
                ng-show="alarm_stack.id"
                class="f-spot-button"
                <span>Удалить</span>
            </a>
        </div>
    </form>
    <p class="m-hint">
      Если терминал не будет скачивать настройки в течении заданного промежутка времени вы получите оповещение о сбое.  
    </p>
</div>