{% extends "term/page.html" %}

{% block content %}
<h2 class="g-color-blue m-page-name">Терминалы</h2>
<span ng-init="search.limit=20;search.action_type='get_grid_content'"></span>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="">
    <section class="section active" style="padding-top: 49px;">
        <p class="title">
            <a>Активные</a>
        </p>
        <div class="content">
            <div class="content-row">
                <p class="m-hint">Настройте работу Ваших бесконтактных терминалов: добавьте к ним события и настройте их так, как Вам нужно.</p>
            </div>
            <table class="m-spot-table">
                <thead>
                    <tr>
                        <th><span>ID</span></th>
                        <th>Имя</th>
                        <th>Владелец</th>
                        <th>Сеанс связи</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="getTerminalView(term.term_id)" 
                        ng-repeat="term in result" 
                        class="m-t-cont-row">
                        <td>{[{term.term_id}]}</td>
                        <td>{[{term.name}]}</td>
                        <td>{[{term.firm}]}</td>
                        <td>{[{term.seans_date}]}</td>
                        <td><span class="m-card-act {[{term.status}]} g-round"></span></td>
                    </tr>
                    <tr class="m-table-bottom" ng-show="search.page_count">
                        <td colspan="10">
                            <ui-pagination 
                                cur="pagination.cur" 
                                total="pagination.total" 
                                display="{[{pagination.display}]}">
                            </ui-pagination>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="section">
        <p class="title">
            <a>Добавить терминал</a>
        </p>
        <div class="content">
            {% include 'term/terminal/form.html' %}
        </div>
    </section>
</div>
{% endblock %}