{% import 'term/block.html' as block %}
{% import 'term/terminal/list.html' as list %}
{% extends "term/page.html" %}

{% block content %}
<h2 class="g-color-blue m-page-name">Терминалы</h2>
<span ng-init="search.limit=20;search.action_type='get_grid_content'"></span>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="">
    <section class="section active" style="padding-top: 49px;">
        <p class="title" ng-click="getContent($event, 'terminal', 'list')">
            <a>Активные</a>
        </p>
        <div class="content">{{list}}</div>
    </section>
    <section class="section">
        <p class="title" ng-click="getContent($event, 'terminal', 'form')">
            <a>Добавить терминал</a>
        </p>
        <div class="content"></div>
    </section>
</div>
{% endblock %}