{% extends "term/terminal/page.html" %}

{% block content %}
<h2 class="g-color-blue m-page-name">Терминалы</h2>
<span ng-init="search.limit=20;search.action_type='get_grid_content';search.order='config_date';search.order_desc=true"></span>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="">
    <section class="section active" style="padding-top: 49px;">
        <p class="title">
            <a>Активные</a>
        </p>
        <div class="content">
            <div class="content-row">
                <p class="m-hint">Настройте работу Ваших бесконтактных терминалов: добавьте к ним события и настройте их так, как Вам нужно.</p>
            </div>
            <table class="m-spot-table" ng-controller="TerminalController">
                <thead>
                    <tr>
                        <th class="sortable" ng-click="sortBy('id', true, $event)"><span>ID</span></th>
                        <th class="sortable" ng-click="sortBy('hard_id', true, $event)"><span>SN</span></th>
                        <th class="sortable" ng-click="sortBy('name', false, $event)"><span>Имя</span></th>
                        <th class="not-sortable">Владелец</th>
                        <th class="sortable desc" ng-click="sortBy('config_date', true, $event)"><span>Сеанс связи</span></th>
                        <th>Часовой пояс</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="getTerminalView(term.id)"
                        ng-repeat="term in result"
                        class="m-t-cont-row">
                        <td>{[{term.id}]}</td>
                        <td>{[{term.hard_id}]}</td>
                        <td>{[{term.name}]}</td>
                        <td>{[{term.firm}]}</td>
                        <td ng-class="(term.seans_alarm==1)?'g-color-red':''">
                            {[{term.seans_date}]}
                        </td>
                        <td>{[{term.tz}]}</td>
                    </tr>
                    <tr class="m-table-bottom" ng-show="search.page_count">
                        <td colspan="10">
                            <ui-pagination
                                cur="pagination.cur"
                                total="pagination.total"
                                display="{[{pagination.display}]}">
                            </ui-pagination>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="section">
        <p class="title">
            <a>Добавить терминал</a>
        </p>
        <div class="content">
            {% include 'term/terminal/_form.html' %}
        </div>
    </section>
</div>
{% endblock %}