<div class="content-row">
    <p class="m-hint">Настройте работу Ваших бесконтактных терминалов: добавьте к ним события и настройте их так, как Вам нужно.</p>
</div>
<table class="m-spot-table">
    <thead>
        <tr>
            <th><span>ID</span></th>
            <th>Имя</th>
            <th>Владелец</th>
            <th>Сеанс связи</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="getTerminalInfo(term.term_id)" ng-repeat="term in result" class="m-t-cont-row">
            <td>{[{term.term_id}]}</td>
            <td>{[{term.name}]}</td>
            <td>{[{term.firm}]}</td>
            <td>{[{term.seans_date}]}</td>
            <td><span class="m-card-act {[{term.status}]} g-round"></span></td>
        </tr>
        <tr class="m-table-bottom" ng-show="search.page_count">
            <td colspan="10">
                <ui-pagination 
                    cur="pagination.cur" 
                    total="pagination.total" 
                    display="{[{pagination.display}]}">
                </ui-pagination>
            </td>
        </tr>
    </tbody>
</table>