{% extends "term/terminal/page.html" %}

{% block content %}
<span ng-init="term.id={{term.id}};term.status={{term.status}}"></span>
<h2 class="g-color-blue m-page-name">
    <div ng-controller="TerminalController">
        {{term.name}}
        {% if term_access %}
        <div class="right">
            <a ng-click="removeTerminal(term)"
                class="f-spot-button bg-red small">
                Удалить
            </a>
            <a ng-show="term.status"
                ng-click="lockingTerminal(term)"
                class="f-spot-button small">
                Заблокировать
            </a>
            <a ng-hide="term.status"
                ng-click="lockingTerminal(term)"
                class="f-spot-button small">
                Разблокировать
            </a>
        </div>
        {% endif %}
    </div>
    <div class="block-nav">
        <a href="/terminal">Терминалы</a>
        <span>{{term.hard_id |replace("None", "Нет")}}, {{term.name}}</span>
    </div>
</h2>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="" ng-controller="TerminalController">
    <section class="section active">
        <p class="title"><a>Информация</a></p>
        <div class="content">
            {% include 'term/terminal/_info.html' %}
        </div>
    </section>
    {% if term_access %}
    <section class="section">
        <p class="title" ng-click="getRentTerminal()">
            <a>Аренда</a>
        </p>
        <div class="content">
            {% include 'term/terminal/_rent.html' %}
        </div>
    </section>
    <section class="section">
        <p class="title">
            <a>Редактировать</a>
        </p>
        <div class="content">
            {% include 'term/terminal/_form.html' %}
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}