{% import 'term/block.html' as block %}
{% extends "term/page.html" %}

{% block header %}
    {{ block.header(firm_name, user_email) }}
{% endblock %}

{% block content %}
<h2 class="g-color-blue m-page-name">Терминалы</h2>
<span ng-init="search.limit=20;search.action_type='terminal_view'"></span>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="">
    <section class="section active" style="padding-top: 49px;">
        <p class="title"><a href="#panel1">Активные</a></p>
        <div class="content" data-slug="panel1">
            <div class="content-row">
                <p class="m-hint">Настройте работу Ваших бесконтактных терминалов: добавьте к ним события и настройте их так, как Вам нужно.</p>
            </div>
            <!-- <div class="m-grid-search">
                <input type="text" ng-model="search" placeholder="Поиск по терминалам">
            </div> -->
            <table class="m-spot-table" ng-grid="gridOptions">
                <thead>
                    <tr>
                        <th><span>ID</span></th>
                        <th>Имя</th>
                        <th>Владелец</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="term in terms" class="m-t-cont-row">
                        <td>{[{term.term_id}]}</td>
                        <td>{[{term.name}]}</td>
                        <td>{[{term.firm}]}</td>
                        <td><span class="m-card-act {[{term.status}]} g-round"></span></td>
                    </tr>
                    <tr class="m-table-bottom" ng-show="search.page_count">
                        <td colspan="10">
                            <ui-pagination 
                                cur="pagination.cur" 
                                total="pagination.total" 
                                display="{[{pagination.display}]}">
                            </ui-pagination>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    <section class="section">
        <p class="title"><a href="#panel4">Добавить терминал</a></p>
        <div class="content" data-slug="panel4">
            <form class="custom">
                <div class="g-clear-b g-clearfix">
                    <div class="content-row left g-clearfix">
                        <label for="add-lastname">ID*</label>
                        <input id="add-lastname" type="text" placeholder="ID">
                    </div>
                    <div class="content-row g-clearfix">
                        <label for="add-name">Имя*</label>
                        <input id="add-name" type="text" placeholder="Имя">
                    </div>
                </div>
                <div class="content-row g-clear-b">
                    <label for="type-report">Тип*</label>
                    <select id="type-report" class="medium">
                        <option>Платежный</option>
                        <option>Вендинговый</option>
                    </select>
                </div>

                <div class="content-row g-clearfix">
                    <label for="add-tnumber">Время первой отправки отчета (чч:мм)</label>
                    <input id="add-tnumber" type="text" placeholder="Табельный номер">
                </div>
                <div class="content-row g-clearfix">
                    <label for="add-cardnumber">Период между отправками, минимум 2 секунды (чч:мм:сс).</label>
                    <input id="add-cardnumber" type="text" placeholder="Номер карты">
                </div>
                <div class="content-row g-clearfix">
                    <label for="add-tnumber">Время первой загрузки конфигурации (чч:мм)</label>
                    <input id="add-tnumber" type="text" placeholder="Табельный номер">
                </div>
                <div class="content-row g-clearfix">
                    <label for="add-cardnumber">Период между загрузками, минимум 2 секунды (чч:мм:сс).</label>
                    <input id="add-cardnumber" type="text" placeholder="Номер карты">
                </div>
                <div class="content-row g-clearfix">
                    <a href="#" class="f-spot-button">Добавить</a>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}