{% import 'term/block.html' as block %}
{% extends "term/page.html" %}

{% block content %}
<span ng-init="term.id={{term.id}};term.status={{term.status}}"></span>
<h2 class="g-color-blue m-page-name">
    <div>
        {{term.name}}
        <div class="right">
            <a 
                ng-show="term.status" 
                ng-click="lockingTerminal(term)" 
                class="f-spot-button small">
                Заблокировать
            </a>
            <a 
                ng-hide="term.status" 
                ng-click="lockingTerminal(term)" 
                class="f-spot-button small">
                Разблокировать
            </a>
            <a class="f-spot-button bg-red small">Удалить терминал</a>
        </div>
    </div>
</h2>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="">

    <section class="section active">
        <p class="title"><a>Информация</a></p>
        <div class="content">
            <div class="content-wrap content-separation">
                <div class="content-row right">
                    <h6>Последние сеансы связи:</h6>
                    <table class="m-session-table">
                        <tr>
                            <td>Загрузка отчета</td>
                            <td>{{term.report_date|replace("None", "не было")}}</td>
                        </tr>
                        <tr>
                            <td>Загрузка настроек</td>
                            <td>{{term.config_date|replace("None", "не было")}}</td>
                        </tr>
                        <tr>
                            <td>Загрузка черного списка</td>
                            <td> {{term.blacklist_date|replace("None", "не было")}}</td>
                        </tr>
                    </table>
                </div>
                <div class="content-row row-separation-l">
                    <p class="m-hint">Для события кликните по соотвествующей строке в таблице</p>
                </div>
                <!-- <div class="content-row f-main-slide-link">
                    <div class="toggle-active"><a id="filter" href="javascript:;" class="loc-link f-spot-button small">+ Добавить событие</a></div>
                </div> -->
                <table class="m-spot-table">
                    <thead>
                    <tr>
                        <th><span>Событие</span></th>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for term_event in term_events %}
                        <tr class="m-t-cont-row">
                            <td>{{term_event.event.name}}</td>
                            <td>{{term_event.start}}</td>
                            <td>{{term_event.stop}}</td>
                            <td>{{term_event.cost}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <section class="section">
        <p class="title" ng-click="getContent($event, 'terminal', 'form')">
            <a ng-click="search.term_id={{term.id}}">Редактировать</a>
        </p>
        <div class="content"></div>
    </section>
</div>
{% endblock %}