*.sublime*
*.pyc
/configs/general.py
/configs/soc_config.py
/configs/yandex.py
/configs/uniteller.py
/configs/smsru.py
/migrations/sql/
alembic.ini
gunicorn.conf.py
/venv/
/env/
/logs/
/excel/
/pids/
/archiv/
/tmp/
/node_modules/
node_modules
celerybeat-schedule
/static/
