*.sublime*
/configs/general.py
/console/configs/payment.py
/console/configs/smsru.py
*.pyc
gunicorn.conf.py
/venv/
/env/
/logs/
/excel/
/pids/
/archiv/
/tmp/
celerybeat-schedule
/configs/soc_config.py
