<br />
<span ng-init="search.custom_filer=0"></span>
<div ng-show="search.page_count!=0 || search.custom_filer!=0">
    <div ng-show="search.status==1" class="content-row">
        <p class="m-hint">Кликните на строку с фамилией, чтобы редактировать возможности человека по пользованию бесконтактными терминалами, установленными в Вашей компании.</p>
    </div>
    <div ng-show="search.status==0" class="content-row">
        <br />
        <p class="m-hint">Кликните на строку с определенным сотрудником, чтобы восстановить учетную запись</p>
    </div>
    <div class="m-grid-search">
        <input type="text"
            name="request"
            ng-init="search.request=''"
            ng-model="search.request"
            placeholder="Поиск по имени или карте">
    </div>
    <table class="m-spot-table" ng-controller="PersonController">
        <thead>
            <tr>
                <th><span >Имя</span></th>
                <th>Номер карты</th>
                <th>Карта</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="getPersonView(person.id)"
                ng-repeat="person in result"
                class="m-t-cont-row">
                <td>{[{person.name}]}</td>
                <td>{[{person.card}]}</td>
                <td>
                    <span class="m-card-act g-round"
                        ng-class="(person.hard_id==0)?'':'active'"></span>
                </td>
                <td>
                    <span class="m-card-act g-round"
                        ng-class="(person.wallet_status==1)?'active':''"></span>
                </td>
            </tr>
            <tr class="m-table-bottom" ng-show="search.page_count">
                <td colspan="10">
                    <ui-pagination
                        cur="pagination.cur"
                        total="pagination.total"
                        display="{[{pagination.display}]}">
                    </ui-pagination>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="search.page_count==0 && search.custom_filer==0">
    <div ng-show="search.status==1" class="content-row">
        <p class="m-hint">Вы не зарегистрировали ни одного человека. Для добавления воспользуйтесь вкладкой "Добавить".</p>
    </div>
    <div ng-show="search.status==0" class="content-row">
        <br />
        <p class="m-hint">У вас нет ни одного заблокированного человека.</p>
    </div>
</div>

<div ng-show="search.page_count==0 && search.custom_filer!=0">
    <div class="content-row">
        Не найдено ни одного человека.
    </div>
</div>

