<div class="content-row m-row-h">
    <h4 class="g-color-blue">Добавить сотрудника</h4>
</div>
<form class="custom">
    <div class="g-clear-b g-clearfix">
        <div class="content-row left g-clearfix">
            <label for="add-lastname">Фамилия*</label>
            <input id="add-lastname" type="text" placeholder="Фамилия">
            <label for="add-patronymic">Отчество</label>
            <input id="add-patronymic" type="text" placeholder="Отчество">
        </div>
        <div class="content-row g-clearfix">
            <label for="add-name">Имя*</label>
            <input id="add-name" type="text" placeholder="Имя">
        </div>
    </div>
    <div class="content-row g-clear-b">
        <label for="add-birthday">День рождения</label>
        <div class="f-datepicker">
            <input type="text" placeholder="День рождения" id="add-birthday" />
        </div>
    </div>

    <div class="content-row g-clearfix">
        <label for="add-tnumber">Табельный номер</label>
        <input id="add-tnumber" type="text" placeholder="Табельный номер">
    </div>
    <div class="content-row g-clearfix">
        <label for="add-cardnumber">Номер карты</label>
        <input id="add-cardnumber" type="text" placeholder="Номер карты">
    </div>
    <div class="content-row  g-clearfix">
        <label for="add-group">Добавть в группу</label>
        <div class="f-dd-light left">
            <input id="add-group" class="f-dd-input" type="text" placeholder="Гпуппа" class="left">
            <div class="dd-list">
                <ul>
                    <li>Группа 1</li>
                    <li>Группа 2</li>
                    <li>Группа 3</li>
                </ul>
            </div>
        </div>

        <a href="#" class="f-spot-button f-spot-button_plus">+</a>

        <div class="f-select-email">
            <span class="f-email-case g-radius-main">Группа 1<i class="g-round"></i></span> <span class="f-email-case g-radius-main">Группа 2<i class="g-round"></i></span>
        </div>
    </div>
    <div class="content-row g-clearfix">
        <a href="#" class="f-spot-button">Добавить</a>
    </div>
</form>

    <div class="content-row m-row-h">
        <h4 class="g-color-blue">Импорт</h4>
    </div>
<div class="content-row g-clearfix">
    <p class="m-hint">Вы можете загрузить таблицу Excel (xls, xlsx), данные должны быть только на первом листе. Расположение колонок в таблице:</p>

    <div class="m-table-wrapper">
        <table>
            <thead>
            <tr>
                <th class="g-color-red">Фамилия</th>
                <th class="g-color-red">Имя</th>
                <th>Отчество</th>
                <th>Номер&nbsp;карты <br>(8 цифр)</th>
                <th>День рождения (дд.мм.гггг)</th>
                <th>Табельный номер</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>12345678</td>
                <td>29.12.1970</td>
                <td>11</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="content-row">
        <label for="ImportForm_file">Файл</label>
        <input id="ytImportForm_file" type="hidden" name="ImportForm[file]" value="">
        <input id="ImportForm_file" type="file" name="ImportForm[file]">

    </div>
    <div class="content-row g-clearfix">
        <a href="#" class="f-spot-button">Загрузить</a>
    </div>
        