<div class="m-block" ng-controller="PersonController">
    <form name="eventForm">
        <div class="row"
            ng-init="person_event.id={{person_event.id|replace("None", 0)}};person_event.person_id={{person.id}}">
            <div class="large-5 columns">
                <div class="content-row"
                    ng-init="person_event.term_event_id='{{term_event.id}}'">
                    <label for="type-event">Событие*</label>
                    <select id="type-event" 
                        class="medium"
                        min="1"
                        ng-model="person_event.term_event_id"
                        required>
                        {% for row in term_events %}
                            {% if row.term.hard_id %}
                            <option 
                                {% if row.id == term_event.id %} selected {% endif %} 
                                value="{{row.id}}">
                                №{{row.term.hard_id}}, {{row.term.name}}, {{row.event.name}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                   
                </div>
            </div>
        </div>
        <div class="content-row g-clearfix"
            ng-init="person_event.timeout={{person_event.timeout}}">
            <label for="time-out">Тайм-аут (в секундах)*</label>
            <input id="time-out" 
                class="f-input-small left"
                minlength="1"
                maxlength="5" 
                type="text"
                ng-model="person_event.timeout"
                required>
        </div>
    </form>

    <div class="content-row g-clearfix">
        <a ng-click="saveEventPerson(person_event, eventForm.$valid)"
            class="f-spot-button">
            <span ng-hide="person_event.id">Добавить</span>
            <span ng-show="person_event.id">Сохранить</span>
        </a>
        <a ng-show="person_event.id" 
            ng-click="deleteEventPerson(person_event)"
            class="f-spot-button bg-red">
            Удалить событие
        </a>
    </div>
</div>