<form class="custom" id="add_person" name="personForm">
    <div class="g-clear-b g-clearfix" 
        ng-init="person.id='{{person.id}}';person.firm_id={{g.firm_info['id']}}">
        {% if not person.id %}
            <span ng-init="person.action='add'"></span>
        {% else %}
            <span ng-init="person.action='edit'"></span>
        {% endif %}
        <div class="content-row left g-clearfix" >
            <label for="add-name" 
                ng-init="person.name='{{person.name|replace("None", "")}}'">
                ФИО*
            </label>
            <input id="add-name" 
                class="duble-input"
                name="user_name"
                type="text" 
                ng-model="person.name"
                required>
        </div>
    </div>
<!--     <div class="content-row g-clear-b">
        <label for="add-birthday">День рождения</label>
        <div class="f-datepicker">
            <input type="text" placeholder="День рождения" id="add-birthday" />
        </div>
    </div> -->
    {% if not person.hard_id %}
        <div class="content-row g-clearfix">
        <label for="add-card-code">
            Код активации карты (6 цифр и 4 буквы)
        </label>
        <input id="add-card-code" 
            type="text"
            ng-model="person.card_code"
            required>
    </div>
    {% endif %} 
    <div class="content-row g-clearfix">
        <label for="add-tnumber"
            ng-init="person.tabel_id='{{person.tabel_id|replace("None", "")}}'">
            Табельный номер
        </label>
        <input id="add-tnumber" 
            type="text"
            ng-model="person.tabel_id">
    </div>
    <div class="content-row g-clearfix">
        <label for="add-cardnumber"
            ng-init="person.card='{{person.card|replace("None", "")}}'">
            Номер карты
        </label>
        <input id="add-cardnumber" 
            type="text"
            ng-model="person.card">
    </div>
    <div class="content-row g-clearfix">
        <a ng-click="savePerson(person, personForm.$valid)"
            class="f-spot-button">
            <span ng-hide="person.id">Добавить</span>
            <span ng-show="person.id">Сохранить</span>
        </a>
    </div>
</form>