{% extends "term/person/page.html" %}

{% block content %}
<h2 class="g-color-blue m-page-name">Люди</h2>
<span ng-init="search.limit=20;search.action_type='get_grid_content';search.scope='active'"></span>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="" ng-controller="PersonController">
    <section class="section active">
        <p class="title">
            <a ng-click="search.scope='active'">Активные</a>
        </p>
        <div class="content">{% include 'term/person/_list.html' %}</div>
    </section>
    <section class="section">
        <p class="title">
            <a ng-click="search.scope='blocked'">Заблокированные</a>
        </p>
        <div class="content">{% include 'term/person/_list.html' %}</div>
    </section>
    <section class="section">
        <p class="title">
            <a>Добавить</a>
        </p>
        <div class="content">
            {% include 'term/person/_form.html' %}
        </div>
    </section>
    <section class="section">
        <p class="title" ng-click="search.status=-1"><a>Импорт</a></p>
        <div class="content">
            {% include 'term/person/_import.html' %}
        </div>
    </section>
</div>
{% endblock %}