{% extends "term/page.html" %}

{% block content %}
<span ng-init="person.id={{person.id}};person.status={{person.status}}"></span>
<h2 class="g-color-blue m-page-name" ng-controller="PersonController">
    {{person.name}}
    <div class="right">
        <a ng-click="removePerson(person)" 
            class="f-spot-button bg-red small">
            Удалить
        </a>
    </div>
</h2>
<div class="section-container section-container__main auto" data-section="" data-options="deep_linking: true;" style="" ng-controller="PersonController">
    <section class="section active">
        <p class="title"><a>События</a></p>
        <div class="content">
            <div class="content-row">
                <p class="m-hint">Для того что бы дать возможность человеку пользоваться терминальной сетью, вам необходимо ввести код активации карты, которую вы хотите к нему привязать. именно эта карта в дальнейшем будет идентифицировать человека.</p>
            </div>
            <form class="custom" id="add_card" name="cardForm">
                <div class="content-row g-clearfix">
                    <label for="add-card-code">
                        Код активации карты (6 цифр и 4 буквы)
                    </label>
                    <input id="add-card-code" 
                        name="card_code"
                        maxlength="10"
                        minlength="10"
                        ng-minlength="10"
                        ng-maxlength="10"
                        type="text"
                        ng-model="person.card_code"
                        required>
                </div>
                <div class="content-row g-clearfix">
                    <a ng-click="bindCard(person, cardForm.$valid)"
                        class="f-spot-button">
                       Сохранить
                    </a>
                </div>
            </form>
        </div>

    </section>
    <section class="section">
        <p class="title"><a>Редактировать</a></p>
        <div class="content">
            {% include 'term/person/form.html' %}
        </div>
    </section>
</div>
{% endblock %}
{% block footer_script %}
<script type="text/javascript" src="/static/term/angular/term/controllers/person.js"></script>
{{ super() }}
{% endblock %} 