<div class="content-row" ng-init="corp_wallet.id={{corp_wallet.id}}">
    <h6>Состояние:</h6>
    <table class="m-session-table">
        <tr>
            <td>Баланс на счету</td>
            <td>{{corp_wallet.balance/100}}</td>
        </tr>
        <tr>
            <td>Платежный лимит</td>
            <td>{{corp_wallet.limit/100}}</td>
        </tr>
        <tr>
            <td>Сбрасывать лимит</td>
            <td>{{corp_wallet_interval[corp_wallet.interval]['name']}}</td>
        </tr>
    </table>
</div>
<div class="content-row  g-clear-b">
    <a ng-click="editCorpWallet(corp_wallet)" class="f-spot-button">Изменить лимит</a>
    <a ng-click="removeCorpWallet(corp_wallet)" class="f-spot-button">Удалить</a>
</div>
<br/>