<div class="content-row">
    <h6>Состояние:</h6>
    <table class="m-session-table">
        <tr>
            <td>Баланс на счету</td>
            <td>{{corp_wallet.balance/100}}</td>
        </tr>
        <tr>
            <td>Платежный лимит</td>
            <td>{{corp_wallet.limit/100}}</td>
        </tr>
    </table>
</div>
<div class="m-block" ng-controller="PersonController">
    <span ng-init="person_wallet.type=1;person_wallet.person_id=person.id"></span>
    <div class="content-row g-clearfix">
        <a ng-click="saveWalletPerson(person_wallet, 1)"
            class="f-spot-button">Отключить</span>
        </a>
    </div>
</div>
<div class="content-row">
    <p class="m-hint">Как только баланс на кошельке станет меньше 40 рублей, человек будет заблокирован. </p>
    <p>Разблокировать его можно вручную, введя сумму на которую необходимо пополнить кошелёк или же он разблокируется автоматически первого числа следующего месяца.</p>
</div>