<?xml version="1.0" encoding="windows-1251"?>
<config auth="{{ term.auth }}" blacklist="{{ term.blacklist }}" mode="{{ term.type }}">
    <ntp>
        <server>pool.ntp.org</server>
        <timezone>{{ term.tz }}</timezone>
    </ntp>
    {% if config.download_status == 1 %}
    <download force_on_restart="1">
        <period>{{ term.download_period }}</period>
        <start time="{{ term.download_start }}:00"/>
        <stop time="{{ term.download_stop }}:00"/>
    </download>
    {% endif %}
    {% if config.upload_status == 1 %}
    <upload force_on_restart="1">
        <period>{{ term.upload_period }}</period>
        <start time="{{ term.upload_start }}:00"/>
        <stop time="{{ term.upload_stop }}:00"/>
    </upload>
    {% endif %}
    {% if blacklist %}
    <blacklist>
        <partial force_on_restart="{{blacklist.partial_on_restart}}">{{blacklist.partial_timeout}}</partial>
        <full force_on_restart="{{blacklist.full_on_restart}}">{{blacklist.full_timeout}}</full>
    </blacklist>
    {% endif %}
    {% if term.keyload_qid %}
    <keyload>
        <qid>{{term.keyload_qid}}</qid>
    </keyload>
    {% endif %}
    {% if term.update_qid %}
    <update force_on_restart="1">
        <period>1440</period>
        <qid>{{term.update_qid}}</qid>
    </update>
    {% endif %}
    {% if config.download_status == 1 %}
    <server goal="download">
        <ip>{{ config.download_ip }}</ip>
        <port>{{ config.download_port }}</port>
        <proto upload_method="PUT">{{ config.download_proto }}</proto>
        <link>{{ config.download_link_type }}</link>
    </server>
    {% endif %}
    {% if config.upload_status == 1 %}
    <server goal="upload">
        <ip>{{ config.upload_ip }}</ip>
        <port>{{ config.upload_port }}</port>
        <proto upload_method="PUT">{{ config.upload_proto }}</proto>
        <link>{{ config.upload_link_type }}</link>
    </server>
    {% endif %}
    {% if config.logger_status == 1 %}
    <server goal="logger">
        <ip>{{ config.logger_ip }}</ip>
        <port>{{ config.logger_port }}</port>
        <proto upload_method="PUT">{{ config.logger_proto }}</proto>
        <link>{{ config.logger_link_type }}</link>
    </server>
    {% endif %}
    {% if config.update_status == 1 %}
    <server goal="update">
        <ip>{{ config.update_ip }}</ip>
        <port>{{ config.update_port }}</port>
        <proto upload_method="PUT">{{ config.update_proto }}</proto>
        <link>{{ config.update_link_type }}</link>
    </server>
    {% endif %}
    {% if config.keyload_status == 1 %}
    <server goal="keyload">
        <ip>{{ config.keyload_ip }}</ip>
        <port>{{ config.keyload_port }}</port>
        <proto upload_method="PUT">{{ config.keyload_proto }}</proto>
        <link>{{ config.keyload_link_type }}</link>
    </server>
    {% endif %}
    {% for term_event in term_events %}
    <event type="{{term_event.event.key}}" translation="{{term_event.event.name}}" min_time="{{term_event.start}}:00" max_time="{{term_event.stop}}:00" age_limit="{{term_event.age}}"  {% if term.type == 'Normal' %}price="{{term_event.cost // term.factor}}"{% endif %} {% if term.type == 'Vending' %}min_item="{{term_event.min_item}}" max_item="{{term_event.max_item}}"{% endif %} {% if term.blacklist == 1 %}credit_period="{{term_event.credit_period}}" credit="{{term_event.credit_amount}}"{% endif %}>
        {% for person_event in person_events %}
            {% if person_event.event_id == term_event.event_id %}
            {% set payment_id = person_event.person.payment_id %}
            {% set hard_id = person_event.person.hard_id %}
                {% if person_event.status == 1 %}
                    {% if person_event.person.wallet_status == 1 %}
                        {% if term.auth == "uid" %}
                            {% if hard_id %}
                                <card timeout="{{person_event.timeout*60}}">{{ hard_id }}</card>
                            {% endif %}
                        {% else %}
                            {% if payment_id %}
                                <card timeout="{{person_event.timeout*60}}">{{ payment_id }}</card>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </event>
    {% endfor %}
</config>
