<?xml version="1.0" encoding="windows-1251" standalone="yes" ?>
<Config>
    <AppMode>{{ term.type }}</AppMode>
    <Server>
        <Number>1</Number>
        <QID>O,OK,OC</QID>
    </Server>
    <Comm>
        <Proto>{{ config.COMM_PROTO }}</Proto>
        <CACert/>
        <IP>4001</IP>
        <Port>{{ config.COMM_PORT }}</Port>
        <Link>{{ config.COMM_LINK_TYPE }}</Link>
        <Timeout>60</Timeout>
    </Comm>
    <Upload>
        <Start date="" time="{{ term.upload['start'] }}"></Start>
        <Stop date="" time="{{ term.upload['stop'] }}"></Stop>
        <Period time="00:15:00"></Period>
    </Upload>
    <Download>
        <Start date="" time="{{ term.download['start'] }}"></Start>
        <Stop date="" time="{{ term.download['stop'] }}"></Stop>
        <Period time="00:15:00"></Period>
    </Download>
    {% for term_event in term_events %}
    <Event type="{{term_event.event.key}}" translation="{{term_event.event.name}}" age_limit="0" min_time="{{term_event.start}}" max_time="{{term_event.stop}}" amount="{{term_event.cost}}" currency="руб.">
        <TimeLimitsList>
        {% for person_event in person_events %}
            {% if person_event.event_id == term_event.event_id %}
            {% set hard_id = person_event.person.hard_id %}
                {% if hard_id %}
                <Card timeout="{{person_event.timeout}}">
                {{ hard_id }}</Card>
                {% endif %}
            {% endif %}
        {% endfor %}
        </TimeLimitsList>
    </Event>
    {% endfor %}
</Config>
