{% extends "term/layout.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div class="row m-content block-center" ng-controller="UserController"  >
    <div class="f-login" ng-init="user.csrf_token='{{g.token}}';user.id={{user.id}};user.recovery_token='{{user.activkey}}'">
        <form id="changePassForm" class="f-login_box" name="changeForm">
            <hgroup>
                <h5>Смена пароля</h5>
            </hgroup>
            <input 
                name="password"
                type="text" 
                placeholder="Новый пароль"
                ng-model="user.password"
                ng-keypress="($event.keyCode == 13)?change(user, changeForm.$valid):''"
                autocomplete="on"
                maxlength="300"
                required >
            <a href="javascript:;" class="f-spot-button" ng-click="change(user, changeForm.$valid)">
                Сохранить
            </a>
            <a class="right f-link f-link__pd" href="/">Отмена</a>
        </form>
    </div>
</div>

{% endblock %}
{% block footer_script %}
<script type="text/javascript" src="/static/term/angular/term/controllers/user.js"></script>  
{% endblock %}