{% extends "term/layout.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div class="row m-content block-center" ng-controller="UserController"  >
    <div class="f-login" ng-init="user.token='{{g.token}}'">
        <form id="recPassForm" class="f-login_box" name="recoveryForm">
            <hgroup>
                <h5>Восстановление пароля</h5>
            </hgroup>
            <input 
                name="email"
                type="email" 
                placeholder="Email"
                ng-model="user.email"
                ng-keypress="($event.keyCode == 13)?forgot(user, recoveryForm.$valid):''"
                autocomplete="on"
                maxlength="300"
                 ng-class="{error: error.email}"
                required >
            <a href="javascript:;" class="f-spot-button" ng-click="forgot(user, recoveryForm.$valid)">
                Отправить
            </a>
            <a class="right f-link f-link__pd" href="/">Отмена</a>
        </form>
    </div>
</div>

{% endblock %}
{% block footer_script %}
<script type="text/javascript" src="/static/term/angular/term/controllers/user.js"></script>  
{% endblock %}