{% extends "term/layout.html" %}
{% block title %}Мобиспот - {{firm_name}}{% endblock %}
{% block body %}
<div class="row m-content block-center"  ng-controller="UserController">
    <div class="f-login">
        <form class="f-login_box" name="signForm">
            <hgroup>
                <h5>{{g.firm_info['name']}}</h5>
                <span></span>
            </hgroup>
            <input
                name="email"
                type="email" 
                placeholder="Email"
                ng-model="user.email"
                ng-keypress="($event.keyCode == 13)?login(user, signForm.$valid):''"
                maxlength="300"
                required >
            <input 
                name="password"
                type="password" 
                placeholder="Пароль"
                ng-model="user.password"
                ng-keypress="($event.keyCode == 13)?login(user, signForm.$valid):''"
                maxlength="300"
                required >

            <a href="javascript:;" class="f-spot-button" ng-click="login(user, signForm.$valid)">
               Войти
            </a>
            <a href="/forgot" class="right f-link f-link__pd">
                Забыли пароль?
            </a>
        </form>
        <div class="f-login_box">
            У вас ещё нет аккаунта?
            <a href="/register" class="f-link f-link__bl">Отправьте заявку на регистрацию!</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript" src="/static/term/angular/term/controllers/user.js"></script>  
{% endblock %}