{% extends "term/layout.html" %}
{% block body %}
<div class="row m-content"  ng-controller="GeneralCtrl">
    <div class="large-3 columns">
    {% block menu %}
        <ul class="m-nav-page">
<!--             <li>
                <h5>Главное</h5>
                <ul>
                    <li><a href="/person">Сотрудники</a></li>
                    <li><a href="/terminal">Терминалы</a></li>
                    <li><a href="/card">Карты</a></li>
                </ul>
            </li> -->
            <li>
                <h5>Отчеты</h5>
                <ul>
                    <li><a href="/report/person">По сотрудникам</a></li>
                    <li><a href="/report/terminal">По терминалам</a></li>
                    <li><a href="/report/summ">Платежный оборот</a></li>
                </ul>
            </li>
          <!--   <li>
                <h5>Настройка</h5>
                <ul>
                    <li><a href="/firm">Компания</a></li>
                </ul>
            </li> -->
        </ul>
    {% endblock %}
    </div>
    <div class="large-9 columns m-content-block">
    {% block content %}
    {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript" src="/static/angular/term/general.js"></script>  
{% endblock %}