{% extends "term/layout.html" %}
{% import 'term/block.html' as block %}

{% block header %}
    {{ block.header(g.firm_info['name'], g.user.email) }}
{% endblock %}

{% block body %}
<div class="row m-content"  ng-controller="GeneralCtrl" ng-init="token='{{g.token}}'">
    <div class="large-3 columns">
    {% block menu %}
    {% set nav = [dict(
                title='Главное',
                data=[
                    ('/person', 'Люди'), 
                    ('/terminal', 'Терминалы')]),
            dict(
                title='Отчеты',
                data=[
                    ('/report/person', 'Люди'), 
                    ('/report/terminal', 'Терминалы'),
                    ('/report/summ', 'Оборот')])] %}
        <ul class="m-nav-page">
        {% for row in nav %}
        <li>
            <h5>{{row.title}}</h5>
            <ul>
            {% for data in row.data %}
                {% set current_class = ''%}
                {% if '/term' + data[0] == request.path %}
                    {% set current_class = 'active'%}
                {% endif %}
                <li>
                    <a class="{{current_class}}" href="{{data[0]}}">{{data[1]}}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
    {% endblock %}
    </div>
    <div class="large-9 columns m-content-block" ng-cloak class="ng-cloak">
    {% block content %}
    {% endblock %}
    </div>
</div>

<!-- <div class="mess-bottom">
    <div class="row">
        <h3>Терминал удален</h3>
        <p>Если это произошло случайно, то оменяйте скорее</p>
        <a href="#" class="f-spot-button">Отменить удаление</a>
    </div>
</div> -->
{% endblock %}

{% block footer_script %}
<script type="text/javascript" src="/static/term/angular/term/general.js"></script>  
{% endblock %}