.m-result
{
    position: fixed;
    z-index: 99;
    top: -6px;
    left: 0;

    display: none;

    width: 100%;
    height: 0;

    text-align: center;
}

.m-result p
{
    font-family: Mobispot, Arial, sans-serif;
    font-size: 16px;

    display: inline-block;

    margin-bottom: 0;
    padding: 10px 11px 6px;

    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #12ad51;
}

.m-negative p
{
    background-color: #ff2400;
}

.sub-nav .f-spot-button.small
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    height: 30px;
    padding: 5px 10px;
}

.sub-nav .f-spot-button:hover
{
    font-family: Arial, sans-serif;
}

.sub-nav
{
    font-size: 18px;

    display: block;
    overflow: hidden;

    width: auto;
    margin: -.25em 0 1.125em;
    margin-right: 0;
    margin-left: -.5625em;
    padding-top: .25em;
}
.sub-nav dt,
  .sub-nav dd
{
    font-size: .875em;
    font-weight: normal;

    display: inline;
    float: left;

    margin-bottom: .625em;
    margin-left: .5625em;
}
.sub-nav dt a,
    .sub-nav dd a
{
    cursor: pointer;
    text-decoration: none;

    color: #000;
}
.sub-nav dt.active a,
    .sub-nav dd.active a
{
    font-weight: bold;

    padding: .1875em .5625em;

    cursor: default;

    color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #0061ff;
}


.f-spot-button
{
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none !important;
}

.animate-show
{
    -webkit-transition: opacity 600ms ease-out;
       -moz-transition: opacity 600ms ease-out;
         -o-transition: opacity 600ms ease-out;
            transition: opacity 600ms ease-out;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove
{
    display: block!important;
}

.animate-show.ng-hide
{
    line-height: 0;

    opacity: 0;
}

.f-email-case
{
    margin-top: 10px;
}

input.report-picker {
    border: none;
    text-align: center;
    font-family: Mobispot,Arial,sans-serif;
    font-weight: 100;
    font-size: 1.4375em;
    outline:none;
    cursor:pointer;
    box-shadow: none;
}

input.report-picker:focus {
    background: transparent;
    outline:none;
}