@media screen and (max-width: 1044px){
	.error-message,
	.error-message img{
		width: 500px;
	}
	.error-text-block{
		height: 252px;
	}
	.error-text-block h1{
		width: 237px;
	}
}
@media screen and (max-width: 994px) {
	.error-message,
	.error-message img{
		width: 400px;
	}
	.error-text-block{
		height: 204px;
	}
	.error-text-block h1{
		width: 185px;
		font-size: 45px;
	}
	.error-code{
		width: 145px;
		font-size: 66px;
	}
	.error-message{
		float: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 767px) {
	.error-message{
		float: none;
		margin: 30px auto;
	}

}
@media screen and (max-width: 440px) {
	.error-message,
	.error-message img{
		width: 300px;
	}
	.error-text-block{
		height: 155px;
	}
	.error-text-block h1{
		width: 142px;
		font-size: 35px;
	}
	.error-code{
		width: 105px;
		font-size: 50px;
	}
}